BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100

# Force arguments one line or one-per-line
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent

# String handling
AlwaysBreakBeforeMultilineStrings: true

# One line if statements
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

# Initializer lists one line or one-per-line
PackConstructorInitializers: CurrentLine
BreakConstructorInitializers: BeforeComma