*.o
*.so
*.o.tmp
*.dSYM
.idea
timing_data.csv
timing_plot.png
settings.json
compile_commands.json
.Rproj.user
BPCells.Rproj
CHECKLIST.md
build/
cmake-build-debug/
.vscode/
.snakemake/
bench
run_test.R
.Rhistory
rsync.sh
src/Makevars
tools/h5write*
tools/cxx17_filesystem*
vignettes/*.html