*.o
*.so
*.o.tmp
*.dSYM
.idea
timing_data.csv
timing_plot.png
settings.json
compile_commands.json
.Rproj.user
BPCells.Rproj
CHECKLIST.md
build/
cmake-build-debug/
.vscode/
.snakemake/
bench
run_test.R
.Rhistory
rsync.sh
src/Makevars
tools/h5write
tools/cxx17_filesystem
r/tools/hwy-test.cpp
tools/*.exe
vignettes/*.html
vignettes/pbmc-3k-data
cpp-tests
*.Rproj
venv
wheelhouse

# A few convenience ignores for my development cruft
failing_test.R
mytest*.R
.clang-format
.dockerignore
.lintr
bench/
